<form action="/users/updateUser" method="post">
  <input name="id" type="text" value="<%=user.id%>" readonly hidden />
  <input name="name" type="text" value="<%=user.name%>" />
  <input name="age" type="number" value="<%=user.age%>" />
  <input type="submit" />
</form>
